<!DOCTYPE html>
<html>
  <head>
    <title>Realworkday</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <div class="flex-content-container">
      <nav class="navbar navbar-toggleable-md navbar-light bg-color">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="#">RealWorkday</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
          <u1 class="navbar-nav">
            <% if current_user %>
              <li class="nav-item">
                <%= link_to current_user.username, '#', class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Sign in", new_user_session_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign up", new_user_registration_path, class: 'nav-link' %>
              </li>
            <% end %>
        </div>
      </nav>

      <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>

      <% if alert.present? %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>

    </div>

    <div id="footer">
      <div class="container">
        <b>Footer</b>
          <ul>
            <li><%= link_to 'Link', '#' %></li>
          </ul>
      </div>
    </div>

  </body>
</html>
